.perfil {
	width: 50%;
	padding-top: 50px;
	color: $color-claro;
	background-color: $color-claro;
	&__avatar {
		display: block;
		margin: 0 auto;
		border-radius: 50em;
	}
	&__nombre {
		text-align: center;
		font-size: 20px;
		color: $color-secundario;
		@include titulos($Fuente2);
	}
	&__titulo {
		text-transform: uppercase;
		text-align: center;
		font-weight: 700;
		font-size: 12px;
		color: rgba($color-variacion, 0.7);
	}
	&__boton {
		display: block;
		width: 100px;
		height: 40px;
		margin: 15px auto;
		border-radius: 20px;
		text-decoration: none;
		text-align: center;
		color: $color-claro;
		background-color: $color-primario;
		border: 2px solid rgba($color-primario, 0.3);
		display: flex;
		justify-content: center;
		align-items: center;
		@include titulos($Fuente2);
	}
}

.perfil__minibio {
	margin: 0 auto;
	padding-top: 20px;
	h2 {
		@extend .perfil__titulo;
		font-size: 20px;
		font-weight: bold;
		color: $color-secundario;
		padding-top: 15px;
	}
	h3 {
		@extend .perfil__nombre;
		font-size: 16px;
		color: $color-variacion;
	}
}